body {
  font-family: Poppins;
  background-color: #ededed;
}

.paragraf {
  color: #505050;
}

.navbar-style {
  background-color: #122341;
  color: white;
}

.bg-top {
  width: 100%;
  height: 600px;
  background-color: #0bcad4;
}

.bg-bottom {
  width: 100%;
  height: 400px;
  margin-top: -350px;
  background-color: #0bcad4;
}

.card-content {
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 100px;
  margin-top: -100px;
}

.heading {
  font-size: 34px;
  color: #122341;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.foto {
  margin-top: -500px;
  margin-bottom: 130px;
}

.my-photo {
  width: 200px;
  margin-bottom: 20px;
}

.bold {
  font-weight: 600;
  color: #122341;
}

.bold-name {
  font-weight: 600;
  font-size: 34px;
  color: #ffff;
}

.bold-skill {
  font-weight: 600;
  font-size: 20px;
  color: #ffff;
}

.icon-keahlian-part1 {
  margin-top: 34px;
}

.btn-download {
  width: 200px;
  color: #ffff;
  background-color: #d40b0b;
  border-radius: 20px;
}

.btn-download:hover {
  background-color: #bb0303;
  color: #ffff;
}

.btn-project-saya {
  width: 200px;
  color: #ffff;
  background-color: #ff1515;
  border-radius: 20px;
}

.btn-project-saya:hover {
  background-color: #bb0202;
  color: #ffff;
}

.footer {
  background-color: #122341;
  padding: 10px;
}

.footer .p-footer {
  color: #ffff;
  margin-top: 18px;
  text-align: center;
}

.footer .icon-fire {
  margin-left: 4px;
  width: 20px;
  margin-top: -8px;
}

.btn-wa {
  background-color: #53ff50;
  width: 200px;
  color: #ffff;
  border-radius: 20px;
}

.btn-wa:hover {
  background-color: #0fc90c;
  color: #ffff;
}

.contact-page {
  margin-top: -400px;
}
/*# sourceMappingURL=main.css.map */